<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :first_name, class:'form-control', placeholder:'Enter First Name' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :last_name, class:'form-control', placeholder:'Enter Last Name' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :email, class:'form-control', placeholder:'Enter Email' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :phone, class:'form-control', placeholder:'Enter Phone No.' %>
  </div>

  <div class="field form-group">
    <%= f.number_field :user_id, id: :employee_user_id, class:'form-control', value:current_user.id, type: :hidden %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit class:'btn btn-dark' %>
  </div>
<% end %>
