<h1>Edit <%= @employee.first_name %></h1>

<%= render 'form', employee: @employee %>
<br/>
<%= link_to 'Show', @employee, class:'btn btn-dark' %> |
<%= link_to 'Back', employees_path, class:'btn btn-dark' %> |
<%= link_to 'Delete', @employee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-dark" %>
