<!-- <p id="notice"><%= notice %></p> -->
<% if user_signed_in? %>
  <h1>Employees List</h1>
  <table class='table table-striped table-bordered table-hover'>
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
      <% if employee.user == current_user %> 
        <tr>
          <td> <%= link_to employee.first_name + " " + employee.last_name, employee %> </td>
          <td><%= employee.email %></td>
          <td><%= employee.phone %></td>
          <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %> 
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Employee', new_employee_path, class:"btn btn-dark" %>
<% else %>
  <h1>Home Page</h1>
  <p>This is home page</p>      
<% end %>

  